<footer>
    <div class="f-info">
    <div class="f-info-copyright">&copy; StayFinder, Inc.</div>
    <div class="f-info-social">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="f-info-privacy">
        <a href="/privacy">privacy</a>
        <a href="/terms">terms</a>
    
    </div>
</div>
</footer>